alembic==1.7.5
aniso8601==9.0.1
astroid==2.8.5
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==7.1.2
Flask==1.1.4
Flask-Cors==3.0.10
flask-restx==0.5.1
Flask-SQLAlchemy==2.1
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.4.0
isort==5.10.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==4.2.1
lazy-object-proxy==1.6.0
Mako==1.1.5
MarkupSafe==2.0.1
mccabe==0.6.1
platformdirs==2.4.0
psycopg2==2.9.2
pylint==2.11.1
pyrsistent==0.18.0
pytz==2021.3
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.27
toml==0.10.2
typing-extensions==4.0.0
urllib3==1.26.7
Werkzeug==0.16.1
wrapt==1.13.3
zipp==3.6.0
